/*************** General styling ***************/

h1 {
    font-family: 'Hepta Slab', serif;
    padding-top: 80px;
    font-size: 8em;
    color: #fff;
    text-align: center;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 2.5em;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}

p {
    color: #18dcff;
    text-align: center;
    font-size: 1em;
    font-family: 'Lora', serif;
}

/*************** Header and form ***************/

.header-container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #7d5fff, #ff9f1a);
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
}

.form-container {
    background: #fff;
    border: solid #7d5fff 2px;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submitButton {
    background-color: #18dcff;
    max-width: 200px;
    margin: 0 auto;
}

.fas {
    margin-right: 10px;
}

/***************Toggle Button***************/

.filter {
    display: inline-block;
    color: #495057;
    align-content: center;
    padding-left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #18dcff;
}

input:focus+.slider {
    box-shadow: 0 0 1px #18dcff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/***************Artist Info Bar***************/

/* Artist Image */

.image-cropper {
    width: 80%;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    z-index: -1;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
}

.image-cropper img {
    margin: 0 auto;
    overflow: auto;
    height: 300px;
}

.artistPhoto {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 300px;
    width: auto;
}

#artistPhotoContainer {
    height: 320px;
    overflow: hidden;
}

/* Artist Bio Info */

#artistInfo {
    width: 100%;
    height: 125vh;
    background-color: #fff;
    padding: 30px;
    margin: 30px auto;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 570px;
}

.artistText {
    text-align: left;
    padding-left: 10px;
    height: 450px;
    overflow: auto;
}

.text-container {
    align-items: center;
}

.artist-info-container {
    padding: 20px;
    
} 

 .heading-info { 
    background: linear-gradient(-45deg, #18dcff, #32ff7e);
    width: 100%;
} 

/* Mood Meter Styling */
#songMeter {
    height: 300px;
}


/* Modal Styling */

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.bg-modal2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 300px;
    background-color: #18dcff;
    border-radius: 4px;
    text-align: center;
    padding: 30px 10px;
    position: relative;
}
.modal-text {
    font-family: 'Hepta Slab', serif;
    padding: 30px 5px;
    border-bottom: solid 5px white;
    margin: 0px 40px;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 3em;
    transform: rotate(45deg);
    color: #fff;
    cursor: pointer;
}

/*Lyrics Bar*/

.lyrics {
    width: 100%;
    height: 125vh;
    background-color: #fff;
    padding: 30px;
    margin: 30px auto;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;

}

.lyrics h2 {
    text-align: center;
}

.lyrics-container {
    height: 150vh;
    width: 100%;
    background: linear-gradient(-45deg, #18dcff, #32ff7e);
}

#lyricText {
    color: #18dcff;
    line-height: 1.6em;
    font-size: 1.1em;
    text-align: center;

}

/*Media Queries*/

/*Media - Ipad Pro*/
@media screen and (max-width: 1024px) {
    .header-container {
        height: 100%vh;
        width: 100%vw;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background: linear-gradient(-45deg, #7d5fff, #ff9f1a);
    }
    .form-container {
        height: 40%;
        width: 90%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background: white;
    }
    .lyrics-container {
        height: 100%vh;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background: linear-gradient(-45deg, #18dcff, #32ff7e), linear-gradient(transparent, white);
    }
    h1 {
        font-size: 15em;
        padding-top: 40px;
    }
    .form-control{
        height: 20%;
        width: 100%;
        font-size: 2em;
    }
    .filter{
        height: 15%;
        width: 50%;
        font-size: 2em;
    }
    .button{
        height: 20%;
        width: 100%;
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    .header-container {
        height: 100%vh;
        width: 100%vw;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background: linear-gradient(-45deg, #7d5fff, #ff9f1a);
    }
    .form-container {
        height: 40%;
        width: 80%;
        background: white;
    }
    .lyrics-container {
        height: 100%vh;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background: linear-gradient(-45deg, #18dcff, #32ff7e), linear-gradient(transparent, white);
    }
    h1 {
        font-size: 4em;
        padding-top: 40px;
    }
    .form-control{
        height: 20%;
        width: 100%;
        font-size: 1em;
    }
    .filter{
        height: 15%;
        width: 60%;
        font-size: 1em;
    }
    #submitButton{
        height: 15%;
        width: 60%;
        font-size: 1em;
    }
}

/*Media - Iphone X*/
@media screen and (max-width: 375px) {
    .header-container {
        height: 100%vh;
        width: 100%vw;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background: linear-gradient(-45deg, #7d5fff, #ff9f1a);
    }
    .form-container {
        height: 40%vh;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background: white;
    }
    .lyrics-container {
        height: 100vh;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background: linear-gradient(-45deg, #18dcff, #32ff7e), linear-gradient(transparent, white);
    }
    h1 {
        font-size: 4em;
        padding-top: 40px;
    }
    .form-control{
        height: 20%;
        width: 100%;
        font-size: 1em;
    }
    .filter{
        height: 15%;
        width: 60%;
        font-size: 1em;
    }
    .button{
        height: 20%;
        width: 100%;
        font-size: 1em;
    }
}